/*cant aniamte display , font-family, position*/

body {
  padding:50px;
}
.trigger {
  width:200px;
  height:200px;
  border: 20px solid #999;
  background-color: :#ddd;
}
.box {
  display: inline-block;
  background: salmon;
  height: 200px;
  width: 200px;
  /*transition:  all 500ms ease-in-out;*/
  /*transition:  transform 300ms ease-in-out;*/
  transition:  transform 300ms ease-in-out;
}
.trigger:hover .box {
  transform: translate(200px, 150px) rotate(200deg);
  width: 500px;
  background: teal;
}
.btn-container {
  background-color: -webkit-linear-gradient(315deg, #55efcb 0%, #1e5799 0%);
}
.btn {
  height: 50px;
  width: 150px;
  background-color: transparent;
  border: 2px solid #fff;
  color:#fff;
  font-size: 15px;
  text-transform: uppercase;
  transition: all .5s ease-in-out;
}
header {
  width: 100vh;
  height: 10vh;
  background: #ccc;
  display: flex;
  align-items: center;
  padding:5em;
  color: white;
}
nav {
  width: 100%;
}
ul {
  float:right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
}
li {
  margin: 1em;
}
.menu {
  visibility: hidden;

}
/*transition is loooking for a transform to change*/
